.title {
    font-family: 'zodiak', serif;
    font-style: italic;
    font-weight: 400;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
    flex-grow: 2;
}

.links {
    color: #666;
    border-bottom: 0.125em solid #666;
    margin: 0 7px;
    transition: all 400ms;
}

a.links:hover {
    text-decoration: none;
    color: #242424;
    border-bottom: 0.125em solid #242424;
    }
    
    .section {
        margin: 50px 0;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}